Import Duties to Perform Task

In [1]:
import numpy as np 
import pandas as pd

In [ ]:
data = pd.read_csv('pass-fail Data.csv')
data

NameError: name 'pd' is not defined

In [14]:
print('Shape : ',data.shape)
print('Size : ',data.size)
print('Describe : ',data.describe())
print('Information : ',data.info)

Shape :  (100, 6)
Size :  600
Describe :         student_id  attendance_pct  homework_pct  midterm_score  \
count  100.000000      100.000000     100.00000     100.000000
mean    50.500000       69.520000      69.03000      68.780000
std     29.011492       17.651783      17.01304      14.717254
min      1.000000       30.000000      35.00000      42.000000
25%     25.750000       55.000000      55.00000      56.000000
50%     50.500000       72.500000      70.00000      68.000000
75%     75.250000       85.000000      85.00000      82.000000
max    100.000000       95.000000      96.00000      97.000000

       study_hours_per_week        pass
count             100.00000  100.000000
mean                7.28000    0.600000
std                 3.62115    0.492366
min                 2.00000    0.000000
25%                 4.00000    0.000000
50%                 7.00000    1.000000
75%                10.00000    1.000000
max                15.00000    1.000000
Information :  <bound method DataFrame.info of     student_id  attendance_pct  homework_pct  midterm_score  \
0            1              95            92             88
1            2              88            85             79
2            3              60            55             58
3            4              72            70             65
4            5              40            45             50
..         ...             ...           ...            ...
95          96              89            92             94
96          97              79            77             75
97          98              55            56             58
98          99              91            90             88
99         100              52            50             53

    study_hours_per_week  pass
0                     12     1
1                     10     1
2                      4     0
3                      6     1
4                      3     0
..                   ...   ...
95                    14     1
96                     8     1
97                     5     0
98                    12     1
99                     4     0

[100 rows x 6 columns]>

In [15]:
data.head()

,student_id,attendance_pct,homework_pct,midterm_score,study_hours_per_week,pass
0,1,95,92,88,12,1
1,2,88,85,79,10,1
2,3,60,55,58,4,0
3,4,72,70,65,6,1
4,5,40,45,50,3,0

In [18]:
data.columns

Index(['student_id', 'attendance_pct', 'homework_pct', 'midterm_score',
       'study_hours_per_week', 'pass'],
      dtype='object')

In [19]:
data.isnull().sum()

student_id              0
attendance_pct          0
homework_pct            0
midterm_score           0
study_hours_per_week    0
pass                    0
dtype: int64

In [23]:
data['student_id'].duplicated().sum()

np.int64(0)

In [24]:
data['pass'].value_counts()

pass
1    60
0    40
Name: count, dtype: int64

In [25]:
data.groupby('pass').mean()

,student_id,attendance_pct,homework_pct,midterm_score,study_hours_per_week
pass,,,,,
0,51.800000,50.725,51.00,53.725000,3.700000
1,49.633333,82.050,81.05,78.816667,9.666667

In [ ]:
# Condition filtering 
data[data['study_hours_per_week'] > 10]
# ['study_hours_per_week'].value_counts().sum()
# For total count

,student_id,attendance_pct,homework_pct,midterm_score,study_hours_per_week,pass
0,1,95,92,88,12,1
5,6,85,90,91,14,1
8,9,90,88,84,11,1
14,15,92,95,93,15,1
18,19,88,90,86,12,1
24,25,90,88,85,11,1
30,31,91,89,87,12,1
35,36,87,90,92,14,1
38,39,89,87,83,11,1
44,45,93,94,95,15,1
48,49,87,89,85,12,1
54,55,89,88,86,11,1
60,61,92,91,89,13,1
65,66,88,91,93,14,1
68,69,91,89,85,11,1
74,75,94,96,97,15,1
78,79,88,90,87,12,1
84,85,90,89,88,11,1
90,91,93,92,90,13,1
95,96,89,92,94,14,1
98,99,91,90,88,12,1

In [45]:
# Top 10 students attendance
data[data['attendance_pct'] > 75].sort_values(by = 'attendance_pct' ,ascending = False).head(10)

,student_id,attendance_pct,homework_pct,midterm_score,study_hours_per_week,pass
0,1,95,92,88,12,1
74,75,94,96,97,15,1
44,45,93,94,95,15,1
90,91,93,92,90,13,1
14,15,92,95,93,15,1
60,61,92,91,89,13,1
30,31,91,89,87,12,1
98,99,91,90,88,12,1
68,69,91,89,85,11,1
84,85,90,89,88,11,1

In [55]:
data[(data['attendance_pct'] == 0) & (data['study_hours_per_week']>10)]

# no student find

Empty DataFrame
Columns: [student_id, attendance_pct, homework_pct, midterm_score, study_hours_per_week, pass]
Index: []

In [60]:
correlation_table = data.corr()
correlation_table

,student_id,attendance_pct,homework_pct,midterm_score,study_hours_per_week,pass
student_id,1.000000,0.001519,-0.002609,0.013508,-0.006730,-0.036771
attendance_pct,0.001519,1.000000,0.985897,0.963359,0.936850,0.873757
homework_pct,-0.002609,0.985897,1.000000,0.988604,0.966403,0.869662
midterm_score,0.013508,0.963359,0.988604,1.000000,0.986944,0.839442
study_hours_per_week,-0.006730,0.936850,0.966403,0.986944,1.000000,0.811285
pass,-0.036771,0.873757,0.869662,0.839442,0.811285,1.000000