In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('placement_targets.csv')
df2 = pd.read_csv('indian_engineering_student_placement.csv')

In [9]:
print("Shape :",df.shape)
print("Size :",df.size)
print("Information :",df.info)
print("Columns :",df.columns)

Shape : (5000, 3)
Size : 15000
Information : <bound method DataFrame.info of       Student_ID placement_status  salary_lpa
0              1           Placed       14.95
1              2           Placed       14.91
2              3           Placed       17.73
3              4           Placed       14.52
4              5           Placed       15.91
...          ...              ...         ...
4995        4996           Placed       19.35
4996        4997       Not Placed        0.00
4997        4998           Placed       19.13
4998        4999           Placed       16.53
4999        5000           Placed       20.00

[5000 rows x 3 columns]>
Columns : Index(['Student_ID', 'placement_status', 'salary_lpa'], dtype='object')

In [10]:
df.head()

   Student_ID placement_status  salary_lpa
0           1           Placed       14.95
1           2           Placed       14.91
2           3           Placed       17.73
3           4           Placed       14.52
4           5           Placed       15.91

In [11]:
df.tail()

      Student_ID placement_status  salary_lpa
4995        4996           Placed       19.35
4996        4997       Not Placed        0.00
4997        4998           Placed       19.13
4998        4999           Placed       16.53
4999        5000           Placed       20.00

df2 -> student.csv

In [12]:
print("Shape :",df2.shape)
print("Size :",df2.size)
print("Information :",df2.info)
print("Columns :",df2.columns)

Shape : (5000, 23)
Size : 115000
Information : <bound method DataFrame.info of       Student_ID  gender branch   cgpa  tenth_percentage  twelfth_percentage  \
0              1    Male    ECE   8.74              74.0                75.0
1              2  Female    ECE   7.80              75.3                69.7
2              3  Female     IT   6.95              62.8                68.3
3              4    Male    ECE   7.46              57.9                51.4
4              5    Male     IT   6.86              61.3                73.5
...          ...     ...    ...    ...               ...                 ...
4995        4996  Female     IT  10.00              90.4                98.3
4996        4997    Male     IT   7.76              74.3                72.6
4997        4998    Male     IT   7.79              64.0                71.2
4998        4999  Female    ECE   8.76              74.3                74.0
4999        5000    Male    CSE   9.45              85.6                80.0

      backlogs  study_hours_per_day  attendance_percentage  \
0            0                  3.8                   71.1
1            0                  6.3                   69.5
2            0                  1.5                   62.5
3            1                  4.7                   64.6
4            2                  5.2                   75.9
...        ...                  ...                    ...
4995         0                  3.7                   75.3
4996         2                  6.3                   72.3
4997         2                  2.0                   63.8
4998         0                  5.1                   72.0
4999         0                  2.8                   63.4

      projects_completed  ...  aptitude_skill_rating  hackathons_participated  \
0                      7  ...                      5                        4
1                      5  ...                      3                        4
2                      8  ...                      4                        6
3                      6  ...                      4                        2
4                      3  ...                      3                        2
...                  ...  ...                    ...                      ...
4995                   6  ...                      5                        4
4996                   4  ...                      4                        3
4997                   6  ...                      4                        6
4998                   6  ...                      4                        4
4999                   8  ...                      4                        6

      certifications_count  sleep_hours  stress_level  part_time_job  \
0                        5          6.5             8            Yes
1                        1          7.1             8            Yes
2                        3          6.1             2             No
3                        2          7.3             7             No
4                        1          6.0             7             No
...                    ...          ...           ...            ...
4995                     2          7.3             2             No
4996                     2          7.8             6             No
4997                     2          6.1             5            Yes
4998                     5          9.0            10             No
4999                     2          7.8             1             No

      family_income_level  city_tier internet_access  \
0                  Medium     Tier 2             Yes
1                  Medium     Tier 3             Yes
2                     Low     Tier 2             Yes
3                  Medium     Tier 1             Yes
4                  Medium     Tier 1             Yes
...                   ...        ...             ...
4995               Medium     Tier 3             Yes
4996                  Low     Tier 1             Yes
4997                  Low     Tier 2              No
4998               Medium     Tier 2             Yes
4999                  Low     Tier 1              No

     extracurricular_involvement
0                         Medium
1                            Low
2                           High
3                            Low
4                         Medium
...                          ...
4995                         Low
4996                         Low
4997                      Medium
4998                        High
4999                        High

[5000 rows x 23 columns]>
Columns : Index(['Student_ID', 'gender', 'branch', 'cgpa', 'tenth_percentage',
       'twelfth_percentage', 'backlogs', 'study_hours_per_day',
       'attendance_percentage', 'projects_completed', 'internships_completed',
       'coding_skill_rating', 'communication_skill_rating',
       'aptitude_skill_rating', 'hackathons_participated',
       'certifications_count', 'sleep_hours', 'stress_level', 'part_time_job',
       'family_income_level', 'city_tier', 'internet_access',
       'extracurricular_involvement'],
      dtype='object')

In [14]:
df2.head()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
0,1,Male,ECE,8.74,74.0,75.0,0,3.8,71.1,7,...,5,4,5,6.5,8,Yes,Medium,Tier 2,Yes,Medium
1,2,Female,ECE,7.80,75.3,69.7,0,6.3,69.5,5,...,3,4,1,7.1,8,Yes,Medium,Tier 3,Yes,Low
2,3,Female,IT,6.95,62.8,68.3,0,1.5,62.5,8,...,4,6,3,6.1,2,No,Low,Tier 2,Yes,High
3,4,Male,ECE,7.46,57.9,51.4,1,4.7,64.6,6,...,4,2,2,7.3,7,No,Medium,Tier 1,Yes,Low
4,5,Male,IT,6.86,61.3,73.5,2,5.2,75.9,3,...,3,2,1,6.0,7,No,Medium,Tier 1,Yes,Medium

In [15]:
df2.tail()

,Student_ID,gender,branch,cgpa,tenth_percentage,twelfth_percentage,backlogs,study_hours_per_day,attendance_percentage,projects_completed,...,aptitude_skill_rating,hackathons_participated,certifications_count,sleep_hours,stress_level,part_time_job,family_income_level,city_tier,internet_access,extracurricular_involvement
4995,4996,Female,IT,10.00,90.4,98.3,0,3.7,75.3,6,...,5,4,2,7.3,2,No,Medium,Tier 3,Yes,Low
4996,4997,Male,IT,7.76,74.3,72.6,2,6.3,72.3,4,...,4,3,2,7.8,6,No,Low,Tier 1,Yes,Low
4997,4998,Male,IT,7.79,64.0,71.2,2,2.0,63.8,6,...,4,6,2,6.1,5,Yes,Low,Tier 2,No,Medium
4998,4999,Female,ECE,8.76,74.3,74.0,0,5.1,72.0,6,...,4,4,5,9.0,10,No,Medium,Tier 2,Yes,High
4999,5000,Male,CSE,9.45,85.6,80.0,0,2.8,63.4,8,...,4,6,2,7.8,1,No,Low,Tier 1,No,High